<%- include("../partials/header") %>
<div>
  <h1>edit <%=campground.name%></h1>

  <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST">
    <input
      class="form-control"
      type="text"
      name="campground[name]"
      value=" <%= campground.name %>"
    />
    <input
      type="text"
      name="campground[image]"
      value="<%= campground.image %> "
    />
    <input
      type="text"
      name="campground[description]"
      value="<%= campground.description%>"
    />
    <button>submit</button>
  </form>
</div>
